<div class="content">
  <h2>Your Friends</h2>

  <div>
    <input [(ngModel)]="friendUserName" placeholder="an username" type="text">
    <button>
      <a class="buttonLink" (click)="sendFriendRequest()">Add Friend</a>
    </button>
  </div>

  <button>
    <a class="buttonLink" (click)="showRequests()">Friend Requests</a>
  </button>

  <ul>
    <li class="listEntry" *ngFor="let friend of user.friendList">
      <img src="{{ friend.profilePicUrl }}" alt="" class="listImage">

      <div class="listTextContainer">
        <p class="listHeadline">{{ friend.displayname }}</p>
        <p class="listText">@{{ friend.username }}</p>
      </div>
    </li>
  </ul>
</div>
