.scrollBox {
  height: 70%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scrollDownButton {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 999;
}

.sendMessageBox {
  position: fixed;
  right: 50px;
  bottom: 12.5vh;

  width: 41vw;
  height: 90px;
  padding: 15px 2.5vw 2.5vh 2.5vw;
  background: var(--ion-background-color);
}

.messageInput {
  float: left;
  width: 70%;
  height: 100%;
  background: var(--ion-card-background);
  box-shadow: 0 0 15px -5px var(--ion-color-dark-contrast);
}

.sendButton {
  float: right;
  width: 15%;
  height: 100%;
  margin-right: 10%;
  box-shadow: 0 0 15px -5px var(--ion-color-dark-contrast);
}
