<h2>Chat</h2>

<div *ngIf="playSongService.connected"><li class="listEntry" *ngFor="let chatMessage of room.messageList">
        <div class="listTextContainer">
            <p class="listHeadline">
                {{ chatMessage.sender }}
                <span class="listInfo">{{ chatMessage.timestamp | date: 'dd/mm/yyyy HH:mm' }}</span>
            </p>
            <p class="listText">{{ chatMessage.content }}</p>
        </div>
    </li>

    <div class="sendMessageBox">
        <input type="text" class="messageInput" placeholder="Type a Message" [(ngModel)]="message" [disabled]="!playSongService.connected">
        <button class="sendButton" (click)="sendMessage()" [disabled]="!playSongService.connected">Send</button>
    </div>
</div>
