<h2>Chat</h2>

<div #scrollBox class="scrollBox" *ngIf="playSongService.connected && playSongService.room.id == room.id">
    <button class="scrollDownButton" (click)="scrollDown()" [disabled]="scrolledDown">Scroll down</button>

    <li class="listEntry" *ngFor="let chatMessage of room.messageList">
        <img [src]="accountService.sanitizeBase64(getUserByUsername(chatMessage.sender).picUrl)" alt="" class="listImage">

        <div class="listTextContainer">
            <p class="listHeadline">
                {{ getUserByUsername(chatMessage.sender).displayname }}
                <span class="listInfo">{{ chatMessage.timestamp | date: 'dd/mm/yyyy HH:mm' }}</span>
            </p>
            <p class="listText">{{ chatMessage.content }}</p>
        </div>
    </li>

    <div class="sendMessageBox">
        <input type="text" class="messageInput" placeholder="Type a Message" [(ngModel)]="message" [disabled]="!playSongService.connected" (keyup.enter)="sendMessage()">
        <button class="sendButton" (click)="sendMessage()" [disabled]="!playSongService.connected">Send</button>
    </div>
</div>
