<div>
  <div class="popup centerXY">
    <h2 class="formHeadline formElement">Add a friend</h2>

    <input #input class="formElement" placeholder="an username" type="text">

    <ul class="formElement">
      <ng-container *ngFor="let user of possibleFriends">
        <li class="listEntry">
          <img [src]="accountService.sanitizeBase64(user.picUrl)" alt="" class="listImage">

          <div class="listTextContainer">
            <p class="listHeadline">{{ user.displayname }}</p>
            <p class="listText">@{{ user.username }}</p>
          </div>

          <div class="listButtonContainer">
            <a class="buttonLink" (click)="sendFriendRequest(user.username)">
              <button>Add</button>
            </a>
          </div>
        </li>
      </ng-container>
    </ul>

    <div class="formElement">
      <a (click)="accountService.showAddFriend()">Cancel</a>
    </div>
  </div>
</div>
