<h2>Registration</h2>

<div>
  <form [formGroup]="regForm">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" class="form-control"
             formControlName="username">
    </div>
    <div>
      <label for="displayname">Displayname</label>
      <input type="text" id="displayname"
             formControlName="displayname">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password"
             formControlName="password">
    </div>
    <button type="submit" (click)="onSubmit()">Register</button>
  </form>
</div>

<a href="/login">To the login page</a>
