<div>
  <form [formGroup]="regForm" class="form centerXY">
    <h2 class="formHeadline formElement">Create an account!</h2>

    <input type="text" id="username" class="formElement" formControlName="username" placeholder="Username">
    <input type="text" id="displayname" class="formElement" formControlName="displayname" placeholder="Display name">
    <input type="password" id="password" class="formElement" formControlName="password" placeholder="Password">

    <button type="submit" id="formSubmit" class="formElement" (click)="onSubmit()">Register</button>

    <div class="formElement">
      Back to <a routerLink="/login">login</a>
    </div>
  </form>
</div>
