.inviteList {
  max-height: 30%;
  overflow-y: scroll;
  width: 35%;
  margin-bottom: 30px;
}

.listEntry {
  width: 100%;
}

.listTextContainer {
  width: 40%;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  margin-bottom: 30px;
}

.inputWrapper > input{
  background: var(--ion-card-background);
  margin-right: 15px;
}

.numberInput {
  width: 75px;
}

app-tag-selector {
  flex-grow: 1;
  width: 100%;
}

