<div>
  <form [formGroup]="loginForm" class="form centerXY">
    <h2 class="formHeadline formElement">Welcome back!</h2>

    <input type="text" id="username" class="formElement" formControlName="username" placeholder="Username">
    <input type="password" id="password" class="formElement" formControlName="password" placeholder="Password">

    <button type="submit" id="formSubmit" class="formElement" (click)="onSubmit()">Login</button>

    <div class="formElement">
      Need an account? <a routerLink="/register">Register</a>
    </div>
  </form>
</div>
