<!--<div class="content">-->
<h2>Friends</h2>

<app-add-friend *ngIf="accountService.addFriendVisible"></app-add-friend>

<app-friend-requests></app-friend-requests>

<h3 class="ulHeadline" (click)="collapseList()">
    Friends
</h3>
<a class="buttonLink buttonRight">
    <button (click)="accountService.showAddFriend()">Add Friends</button>
</a>

<ul *ngIf="!collapsed">
    <li class="listEntry" *ngFor="let friend of user.friendList">
        <img [src]="accountService.sanitizeBase64(friend.picUrl)" alt="" class="listImage">

        <div class="listTextContainer">
            <p class="listHeadline">{{ friend.displayname }}</p>
            <p class="listText">@{{ friend.username }}</p>
        </div>
    </li>
</ul>
<ul *ngIf="!collapsed && user.friendList.length == 0">
    <li class="listEntry">
        <div class="listTextContainer">
            <p class="listHeadline">No Friends yet!</p>
            <p class="listText">Tell some of your friends about ROOMIX!</p>
        </div>
    </li>
</ul>
<ul *ngIf="collapsed">
    <li class="listEntry" (click)="collapseList()">
        <div class="listTextContainer">
            <p class="listHeadline">Show Friendlist</p>
            <p class="listText">Click here or on the headline, to show the list!</p>
        </div>
    </li>
</ul>
<!--</div>-->
