.tag-chip-list {
  display: block;
  width: 80%;
  margin: auto;
  color: black;
}

.mat-standard-chip {
  background-color: #9f14c1 !important;
  color: white !important;
}

.mat-chip-remove {
  color: white !important;
}

input::placeholder {
  color: #a5a5a5 !important;
}

