<div id="navBar" *ngIf="user != null">
    <button class="formElement">
        <a class="buttonLink" routerLink="/roomlist">Rooms</a>
    </button>

    <button class="formElement">
        <a class="buttonLink" routerLink="/">Room</a>
    </button>

    <button class="formElement">
        <a class="buttonLink" routerLink="/friendlist">Friends</a>
    </button>

    <button class="formElement">
        <a class="buttonLink" routerLink="/profile">Profile</a>
    </button>

    <div id="userText" class="formElement">Logged in as <br><b>{{ user.displayname }}</b></div>
    <button id="logoutButton" class="formElement" (click)="logout()">Logout</button>
</div>
