<div id="navBar" *ngIf="user != null">

    <img id="logo" src="assets/logo/logo-light.svg" alt="logo">

    <a class="buttonLink" routerLink="/roomlist">
        <button class="formElement">
            <ion-icon name="list"></ion-icon>
            <div class="linkText">Your Rooms</div>
        </button>
    </a>

    <a class="buttonLink" routerLink="/room/{{ room.id }}">
        <button class="formElement" [disabled]="!room">
            <ion-icon name="musical-notes"></ion-icon>
            <div class="linkText">Current Room</div>
        </button>
    </a>

    <a class="buttonLink" routerLink="/profile">
        <button class="formElement">
            <ion-icon name="person"></ion-icon>
            <div class="linkText">Your Profile</div>
        </button>
    </a>

    <div id="userText" class="formElement">Logged in as <br><b>{{ user.username }}</b></div>
    <button id="logoutButton" class="formElement" (click)="logout()">Logout</button>
</div>
