<div id="navBar" *ngIf="user != null">

    <img id="logo" src="assets/logo/logo-light.svg" alt="logo">

    <a class="buttonLink" routerLink="/roomlist">
        <button class="formElement">
            <ion-icon name="grid"></ion-icon>
            <div class="linkText">Rooms</div>
        </button>
    </a>

    <a class="buttonLink" routerLink="/room/{{ room.id }}">
        <button class="formElement" [disabled]="!playSongService.connected">
            <ion-icon name="musical-notes"></ion-icon>
            <div class="linkText">Current Room</div>
        </button>
    </a>

    <a class="buttonLink" routerLink="/roomlist/join-room">
        <button class="formElement" [disabled]="!room">
            <ion-icon name="albums"></ion-icon>
            <div class="linkText">Browse</div>
        </button>
    </a>

    <a class="buttonLink" routerLink="/profile">
        <button class="formElement">
            <ion-icon name="person"></ion-icon>
            <div class="linkText">Profile</div>
        </button>
    </a>

    <div id="userText" class="formElement">Logged in as <br><b>{{ user.displayname }}</b></div>
    <button id="logoutButton" class="formElement" (click)="logout()">Logout</button>
</div>
