#navBar {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 230px;
  width: 15vw;
  padding-top: 30px;
  background: var(--ion-card-background);

  box-shadow: 0 0 10px 0 var(--ion-color-dark-contrast);
}

ion-icon {
  float: left;
  font-size: 1.5em;
}

.linkText {
  float: left;
  padding-left: 15px;
  font-size: 1.1em;
  line-height: 1.25em;
}

#logo {
  width: 75%;
  margin: 10px 0 30px 12.5%;
}

#userText {
  position: absolute;
  bottom: 75px;
  left: 0;
}

#logoutButton {
  position: absolute;
  bottom: 30px;
  left: 0;
}
