<div class="content">
    <div *ngIf="room != null">
        <h2>Playlist of {{ room.name }} </h2>

        <a class="buttonLink" (click)="showAddSong()">
            <button>Add song</button>
        </a>

        <ul>
            <li class="listEntry" *ngFor="let song of room.playlist.songList">
                <img src="{{ song.picUrl }}" alt="" class="listImage">

                <div class="listTextContainer">
                    <p class="listHeadline">{{ song.title }}</p>
                    <p class="listText">{{ song.artist }}</p>
                </div>

                <div class="listButtonContainer">
                    <a class="buttonLink" (click)="deleteFromPlaylist(song)">
                        <button>Delete</button>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
