<div class="content">
    <div *ngIf="room != null">
        <h2>Playlist of {{ room.name }} </h2>

        <ul>
            <li *ngFor="let song of room.playlist.songList">{{ song.title }} --- {{ song.url }}
                <button (click)="deleteFromPlaylist(song)">Delete</button>
            </li>
        </ul>

        <a class="buttonLink" (click)="showAddSong()">
            <button>Add song</button>
        </a>

        <ul>
            <li class="listEntry" *ngFor="let song of room.playlist.songList">
                <img src="{{ song.picUrl }}" alt="" class="listImage">

                <div class="listTextContainer">
                    <p class="listHeadline">{{ song.title }}</p>
                    <p class="listText">{{ song.artist }}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
