<div class="popup centerXY">

    <!-- Inputs -->
    <form [formGroup]="editProfileForm">
        <h2 class="formElement formHeadline">Edit your Profile</h2>

        <img *ngIf="base64textString == ''" class="formElement formImage" src="./assets/previews/space-profile.jpg" alt="">
        <img *ngIf="base64textString != ''" class="formElement formImage" [src]="accountService.sanitizeBase64(base64textString)" alt="">
        <label for="img">Profile Picture:</label> <br>
        <input #file class="formElement inputFile" formControlName="profilePic" type="file" id="img" name="img" accept="image/*" (change)="handleFileSelect($event)">
        <button class="formElement formButton" (click)="file.click()">Upload</button>
        <br><br>

        <label>Username</label>
        <input type="text" id="username" class="formElement" formControlName="username" placeholder="{{user.username}}" disabled="true">

        <label for="displayname">Display name</label>
        <input type="text" id="displayname" class="formElement" formControlName="displayname">

        <label for="password">Password</label>
        <input type="password" id="password" class="formElement" formControlName="password">

        <label>Reset Profile Picture</label>
        <input type="checkbox" class="checkBox" formControlName="resetProfilePic">

        <button type="submit" id="formSubmit" class="formElement" (click)="onSubmit(); accountService.showEditProfile()">Save</button>

    <div class="formElement">
        <a (click)="accountService.showEditProfile()">Cancel</a>
    </div>
    </form>
</div>
