<!--<div class="content">-->

  <h3 class="ulHeadline" *ngIf="user.friendRequestList.length != 0" (click)="collapseList()">Friend Requests</h3>

  <ul *ngIf="!collapsed && user.friendRequestList.length != 0">
    <li class="listEntry" *ngFor="let request of user.friendRequestList">
      <img src="" alt="" class="listImage">
      <div class="listTextContainer">
          <p class="listHeadline">{{ request.sender.displayname }}</p>
          <p class="listText">@{{ request.sender.username }}</p>
      </div>


      <div class="listButtonContainer">
        <a class="buttonLink" (click)="response(request, true)">
          <button>Accept</button>
        </a>

        <a class="buttonLink" (click)="response(request, false)">
          <button>Decline</button>
        </a>
      </div>
    </li>
  </ul>
  <ul *ngIf="collapsed">
    <li class="listEntry" (click)="collapseList()">
      <img src="" alt="" class="listImage"> <!-- add info icon -->
      <div class="listTextContainer">
        <p class="listHeadline">Show Friendlist</p>
        <p class="listText">Click here or on the headline, to show the list!</p>
      </div>
    </li>
  </ul>
<!--</div>-->


