/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// GENERAL

* {
  color: var(--ion-text-color);
  font-family: 'Source Sans Pro';
  font-size: 1em;
  padding: 0;
  margin: 0;
  //scrollbar-width: none;
}

*::-webkit-scrollbar {
  //display: none;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  z-index: 250;

  margin: 0 0 30px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--ion-card-background);

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

h2:not(.formHeadline) {
  background: var(--ion-background-color);
}

h3 {
  font-size: 1.75em;
  font-weight: bolder;
}

.centerX {
  position: absolute;
  left: 50vw;
  transform: translate(-50%, 0);
}

.centerY {
  position: absolute;
  top: 50vh;
  transform: translate(0, -50%);
}

.centerXY {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.content {
  padding: 50px;
  width: 85vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 15vw;
}

.half-content-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  grid-gap: 50px;
}

.half-content {
  width: 50%;
  height: 100%;

  overflow-y: scroll;
  overflow-x: visible;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.half-content::-webkit-scrollbar {
  display: none;
}

.half-content:after {
  content: "";
  display: block;
  width: 100%;
  height: 17.5vh;
}

// FORMS, INPUTS, BUTTONS, LINKS

a {
  text-decoration: none;
  color: var(--ion-color-primary);
  cursor: pointer;
}

input {
  background: var(--ion-background-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.content > input {
  background: var(--ion-card-background);
}

select {
  background: var(--ion-color-primary);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

  border: none;
  outline: none;
}

button {
  background: var(--ion-color-primary);
  padding: 10px 20px;
  border-radius: 5px;

  border: none !important;
  outline: none !important;

  transition: all .1s ease-in-out;
  white-space: nowrap;
}

button:hover {
  background: var(--ion-color-primary-hover);
}

button:active {
  background: var(--ion-color-primary-active);
  transform: scale(.95);
}

.buttonLink {
  color: var(--ion-text-color);

  display: block;
}

.buttonContainer {
  position: fixed;
  top: 50px;
  right: 43.75vw;
  z-index: 999;
}

.mainButton {
  float: right;
  position: sticky;
  z-index: 999;
  margin-left: 15px;
}


.buttonRight {
  float: right;
  margin-top: 5px;
  margin-left: 15px;
  line-height: 1.5em;
}

.buttonRed {
  background: var(--ion-color-danger) !important;
}

.buttonRed:hover {
  background: var(--ion-color-danger-shade) !important;
}

.buttonRed:active {
  background: var(--ion-color-danger-tint) !important;
}

.buttonGreen {
  background: var(--ion-color-success) !important;
}

.buttonGreen:hover {
  background: var(--ion-color-success-shade) !important;
}

.buttonGreen:active {
  background: var(--ion-color-success-tint) !important;
}

.popup {
  min-width: 540px;
  width: 35vw;
  max-height: 75vh;
  overflow: scroll;
  background: var(--ion-card-background);
  padding: 30px 0;
  border-radius: 5px;
  scrollbar-width: none;
  z-index: 999;

  box-shadow: 0 0 10px 0 var(--ion-color-dark-contrast);

  .listEntry {
    background: var(--ion-background-color) !important;
  }
}

.popup::-webkit-scrollbar {
  display: none;
}

.formHeadline {
  text-align: center;
}

.formElement {
  width: 80%;
  margin: 10px 10%;
  white-space: nowrap;
}

#formSubmit {
  margin-top: 30px;
}

label {
  margin-left: 10%;
}

input[type="checkbox"] {
  margin: 15px;
  transform: scale(1.25);
}

.errorMsg {
  color: var(--ion-color-danger);
  font-size: .9em;
  margin: -5px 10% 5px 10%;
}

.errorBorder {
  border: 1px solid var(--ion-color-danger);
}

button[disabled] {
  filter: brightness(.5);
}

// CARDS
.cardContainer {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card {
  background: var(--ion-card-background);
  border-radius: 5px;
  box-shadow: 0 0 15px -5px var(--ion-color-dark-contrast);
  padding: 10%;

  transition: all .1s ease-in-out;
}

.card:hover {
  cursor: pointer;

  //transform: scale(1.025);
  background: var(--ion-card-hover);
}

.cardImage {
  width: 100%;
  height: auto;

  border-radius: 5px;
}

.cardHeadline {
  width: 100%;
  margin: 5px 0;
  font-weight: bolder;
  text-align: center;
}

.cardText {
  width: 100%;
  text-align: center;
}

// LISTS
.ulHeadline {
  float: left;
  cursor: pointer;
}

ul {
  width: 100%;
  list-style: none;
}

.listEntry {
  display: grid;
  grid-template-columns: repeat(9, 1fr);

  gap: 15px;
  width: 100%;
  background: var(--ion-card-background);
  border-radius: 5px;
  box-shadow: 0 0 15px -5px var(--ion-color-dark-contrast);
  padding: 1.5%;
  margin-bottom: 1.5%;

  overflow: hidden;

  transition: all .1s ease-in-out;
}

.listEntry:hover {
  cursor: pointer;

  background: var(--ion-card-hover);
}

.listImage {
  height: 100%;
  max-height: 50px;
  float: left;
  object-fit: cover;
  margin-right: 2.5%;
  border-radius: 5px;
  grid-column: span 1;
}

.listTextContainer {
  float: left;
  grid-column: span 4;
  white-space: nowrap;
  overflow: visible;
}

.listHeadline {
  font-weight: bolder;
  font-size: 1.25em;
  white-space: nowrap;
}

.listInfo {
  opacity: .5;
  font-weight: lighter;
  font-size: .75em;
  margin-left: 15px;
}

.listText {
  line-height: 25px;
  width: 100%;
}

.listButtonContainer {
  float: right;
  grid-column: span 4;

  width: 100%;

  * {
    float: right;
    height: 40px;

    width: 46%;
    margin: 0 2%;

    button, select {
      width: 100%;
      padding: 10px 0 !important;
    }
  }
}

// PLAYER

iframe {
  height: 0;
  width: 0;
  display: none;
}
