<div class="popup centerXY">
    <h2 class="formElement formHeadline">Invite a friend</h2>

    <input #input class="searchBar formElement" type="text" placeholder="Search" [(ngModel)]="searchQuery">

    <ul class="formElement">
        <ng-container *ngFor="let user of possibleInvites">
            <li class="listEntry">
                <img [src]="accountService.sanitizeBase64(user.picUrl)" alt="" class="listImage">

                <div class="listTextContainer">
                    <p class="listHeadline">{{ user.displayname }}</p>
                    <p class="listText">@{{ user.username }}</p>
                </div>

                <div class="listButtonContainer">
                    <a class="buttonLink" (click)="sendRoomInvite(user.username)">
                        <button>Invite</button>
                    </a>
                </div>
            </li>
        </ng-container>
    </ul>

    <ul class="formElement" *ngIf="user.friendList.length == 0">
        <li class="listEntry">
            <div class="listTextContainer">
                <p class="listHeadline">No Friends found :(</p>
                <p class="listText">Tell some of your friends about roomix!</p>
            </div>
        </li>
    </ul>

    <div class="formElement">
        <a (click)="roomService.showInviteFriend()">Cancel</a>
    </div>
</div>
