<div class="popup centerXY">

  <!-- Inputs -->
  <form [formGroup]="editRoomForm">
    <h2 class="formElement formHeadline">Edit your Room</h2>

    <label for="img">Picture:</label>
    <input value="" class="formElement" formControlName="picUrl" type="file" id="img" name="img" accept="image/*" (change)="handleFileSelect($event)">

    <label for="name">Name</label>
    <input type="text" id="name" class="formElement" formControlName="name" placeholder="Name">

    <app-tag-selector [input-tags]="room.tagList" (childToParent)="childToParent($event)"></app-tag-selector>

    <label>Room is private</label>
    <input type="checkbox" class="checkBox" formControlName="isPrivate">

    <label>Reset Picture</label>
    <input type="checkbox" class="checkBox" formControlName="resetPic">

    <button type="submit" id="formSubmit" class="formElement" (click)="onSubmit()">Save</button>

  </form>

  <button class="buttonRed formElement" (click)="deleteRoom(); roomService.showEditRoom()" [disabled]="roles[0] !== user.activeMember.role">Delete Room</button>

  <div class="formElement">
    <a (click)="roomService.showEditRoom()">Cancel</a>
  </div>
</div>
