<div class="content half-content-wrapper">
    <div class="half-content">
        <h2 *ngIf="room != null">{{ room.name }}</h2>

        <div class="buttonContainer">
            <a class="buttonLink roomButton"
               (click)="joinRoomFunc()"
               *ngIf="(!userIsMember() && !joined) || (userIsMember() && left); else leaveRoom">
                <button class="buttonGreen">Join</button>
            </a>

            <ng-template #leaveRoom>
                <a class="buttonLink roomButton"
                   (click)="leaveRoomFunc()">
                    <button class="buttonRed">Leave</button>
                </a>
            </ng-template>

            <a class="buttonLink roomButton"
               (click)="playSongService.connect(user.username, room.id)"
               *ngIf="!playSongService.connected || playSongService.connected && playSongService.room.id !== room.id; else disconnect">
                <button>Connect</button>
            </a>

            <ng-template #disconnect>
                <a class="buttonLink roomButton"
                   (click)="playSongService.disconnect()">
                    <button>Disconnect</button>
                </a>
            </ng-template>
        </div>

        <h3 class="ulHeadline" (click)="collapseList()">Members</h3>
        <a class="buttonLink buttonRight" (click)="roomService.showInviteFriend()">
            <button [disabled]="!(playSongService.connected && room.name === listeningRoom.name)">Invite Friends
            </button>
        </a>
        <ul *ngIf="!collapsed">
            <li class="listEntry" *ngFor="let member of room.memberList">
                <img [src]="accountService.sanitizeBase64(member.user.picUrl)" alt="" class="listImage">

                <div class="listTextContainer">
                    <p class="listHeadline">[{{ member.role | uppercase }}] {{ member.user.displayname }}</p>
                    <p class="listText">@{{ member.user.username }}</p>
                </div>
            </li>
        </ul>
        <ul *ngIf="collapsed">
            <li class="listEntry" (click)="collapseList()">
                <div class="listTextContainer">
                    <p class="listHeadline">Show Memberlist</p>
                    <p class="listText">Click here or on the headline, to show the list!</p>
                </div>
            </li>
        </ul>

        <app-playlist></app-playlist>
    </div>

    <div class="half-content">
        <app-chat></app-chat>
    </div>
</div>

<app-invite-friend *ngIf="roomService.inviteFriendVisible"></app-invite-friend>
