<div class="content half-content-wrapper">
    <div class="half-content">
        <h2 *ngIf="room != null">{{ room.name }}</h2>

        <div class="buttonContainer">

            <a class="buttonLink mainButton"
               (click)="joinRoomFunc()"
               *ngIf="(!userIsMember() && !joined) || (userIsMember() && left); else leaveRoom">
                <button class="buttonGreen">Join</button>
            </a>

            <ng-template #leaveRoom>
                <a class="buttonLink mainButton"
                   (click)="leaveRoomFunc()">
                    <button class="buttonRed">Leave</button>
                </a>
            </ng-template>

            <a class="buttonLink mainButton"
               (click)="updateMemberList(); playSongService.disconnect(); setActiveMember(); playSongService.connect(user.username, room.id)"
               *ngIf="!playSongService.connected || playSongService.connected && playSongService.room.id !== room.id; else disconnect">
                <button [disabled]="!userIsMember()">Connect</button>
            </a>

            <ng-template #disconnect>
                <a class="buttonLink mainButton"
                   (click)="updateMemberList(); removeActiveMember(); playSongService.disconnect()">
                    <button>Disconnect</button>
                </a>
            </ng-template>

            <a class="buttonLink mainButton"
               (click)="roomService.showEditRoom()">
                <button [disabled]="!(playSongService.connected && room.name === listeningRoom.name)
                || (playSongService.connected && room.name === listeningRoom.name)
                && !(user.activeMember != null && (roles[0] === user.activeMember.role
                || roles[1] === user.activeMember.role))">Edit
                </button>
            </a>
        </div>

        <h3 class="ulHeadline" (click)="collapseList()">Members</h3>
        <a class="buttonLink buttonRight" (click)="roomService.showInviteFriend()">
            <button [disabled]="!(playSongService.connected && room.name === listeningRoom.name)">
                Invite Friends
            </button>
        </a>

        <ul *ngIf="!collapsed">
            <li class="listEntry" *ngFor="let member of room.memberList">
                <img [src]="accountService.sanitizeBase64(member.user.picUrl)" alt="" class="listImage">

                <div class="listTextContainer">
                    <p class="listHeadline">[{{ member.role | uppercase }}] {{ member.user.displayname }}</p>
                    <p class="listText">@{{ member.user.username }}</p>
                </div>

                <div class="listButtonContainer">
                    <a class="buttonLink" *ngIf="!(!(playSongService.connected && room.name === listeningRoom.name)
                        || member.user.username === user.username || (playSongService.connected && room.name === listeningRoom.name)
                        && !(user.activeMember != null && (roles[0] === user.activeMember.role
                        || roles[1] === user.activeMember.role))) && member.role != roles[0]">
                        <form [formGroup]="selectForm">
                            <select name="roleSelect" id="roleSelect" formControlName="role"
                                    (change)="changeRole(member)">
                                <option *ngFor="let role of roles | slice:1" [ngValue]="role"
                                        (load)="setDefaults(role)">{{ role }}</option>
                                <!--                            <option [value]="roles[1]">Admin</option>-->
                                <!--                            <option [value]="roles[2]">DJ</option>-->
                                <!--                            <option [value]="roles[3]">Member</option>-->
                            </select>
                        </form>
                    </a>

                    <a class="buttonLink">
                        <button [disabled]="!(playSongService.connected && room.name === listeningRoom.name)
                        || member.user.username === user.username || (playSongService.connected && room.name === listeningRoom.name)
                        && !(user.activeMember != null && (roles[0] === user.activeMember.role
                        || roles[1] === user.activeMember.role))" (click)="removeUserFromRoom(member)">
                            Kick
                        </button>
                    </a>
                </div>
            </li>
        </ul>
        <ul *ngIf="collapsed">
            <li class="listEntry" (click)="collapseList()">
                <div class="listTextContainer">
                    <p class="listHeadline">Show Memberlist</p>
                    <p class="listText">Click here or on the headline, to show the list!</p>
                </div>
            </li>
        </ul>

        <app-playlist></app-playlist>
    </div>

    <div class="half-content">
        <app-chat></app-chat>
    </div>
</div>

<app-invite-friend *ngIf="roomService.inviteFriendVisible"></app-invite-friend>
<app-edit-room *ngIf="roomService.editRoomVisible"></app-edit-room>
