<div class="landingPageWrapper">
  <div class="banner">
    <img src="assets/banner-layers/banner-layer0.png" alt="layer0" class="layer layer0">
    <img src="assets/banner-layers/banner-layer1.png" alt="layer1" class="layer layer1">
    <img src="assets/banner-layers/banner-layer2.png" alt="layer2" class="layer layer2">
    <img src="assets/banner-layers/banner-layer3.png" alt="layer3" class="layer layer3">

    <img src="assets/banner-layers/banner-top-layer.png" alt="top-layer" class="topLayer">
  </div>

  <div class="bannerOverlay">
    <img src="assets/banner-layers/planet1.png" alt="planet1" class="planet planet1">
    <img src="assets/banner-layers/planet2.png" alt="planet2" class="planet planet2">
    <img src="assets/banner-layers/planet3.png" alt="planet3" class="planet planet3">

    <img src="assets/logo/logo-bw.svg" alt="logo" class="logo centerX">

    <div class="bannerButtonBox centerX">
      <a routerLink="/login">
        <button>Get Started</button>
      </a>
    </div>
  </div>

  <div class="landingPageContent centerX">
    <div class="gridBox">
      <div class="gridHalfWidth">
        <h3>Create your own Rooms</h3>
        <p>asdlöfkjsadlf asldfjk saldf jölas jdflasd flöasdj dflöasd dflöas jdflasj fölasdjf lsad jflasj dföl jasölfj asöldfj löasjf lasd jf</p>
      </div>
      <div class="gridHalfWidth">
        <h3>Create your own Rooms</h3>
        <p>asdlöfkjsadlf asldfjk saldf jölas jdflasd flöasdj dflöasd dflöas jdflasj fölasdjf lsad jflasj dföl jasölfj asöldfj löasjf lasd jf</p>
      </div>
    </div>
  </div>
</div>
