<div #scrollBox class="landingPageWrapper" (scroll)="onScroll($event)">
    <div class="banner">
        <img src="assets/banner-layers/banner-layer0.png" alt="layer0" class="layer layer0">
        <img src="assets/banner-layers/banner-layer1.png" alt="layer1" class="layer layer1">
        <img src="assets/banner-layers/banner-layer2.png" alt="layer2" class="layer layer2">
        <img src="assets/banner-layers/banner-layer3.png" alt="layer3" class="layer layer3">

        <img src="assets/banner-layers/banner-top-layer.png" alt="top-layer" class="topLayer">
    </div>

    <div class="bannerOverlay">
        <img src="assets/banner-layers/planet1.png" alt="planet1" class="planet planet1"
             [ngStyle]="{'margin-top': (scrollPx * 0.25) + 'px'}">
        <img src="assets/banner-layers/planet2.png" alt="planet2" class="planet planet2"
             [ngStyle]="{'margin-top': (scrollPx * 0.20) + 'px'}">
        <img src="assets/banner-layers/planet3.png" alt="planet3" class="planet planet3"
             [ngStyle]="{'margin-top': (scrollPx * 0.15) + 'px'}">

        <img src="assets/logo/logo-bw.svg" alt="logo" class="logo centerX"
             [ngStyle]="{'margin-top': (scrollPx * 0.3) + 'px'}">

        <div class="bannerButtonBox centerX"
             [ngStyle]="{'margin-top': (scrollPx * 0.3) + 'px'}">
            <a routerLink="/login">
                <button>
                    <ion-icon name="rocket"></ion-icon>
                    Get Started
                </button>
            </a>
        </div>
    </div>

    <div class="landingPageContent centerX">
        <div class="gridBox">
            <div class="gridHalfWidth">
                <div class="textBox">
                    <h3>Create your own Rooms!</h3>
                    <p>
                        You can crate your own private or public Rooms.
                        Alternatively you can also join the hottest public rooms, created by other users!
                    </p>
                </div>
            </div>
            <div class="gridHalfWidth">
                <img src="assets/landing-page/create-rooms.png" alt="create-rooms">
            </div>

            <div class="divider"></div>

            <div class="gridHalfWidth">
                <img src="assets/landing-page/add-friends-2.png" alt="create-rooms">
            </div>
            <div class="gridHalfWidth">
                <div class="textBox">
                    <h3>Add Friends!</h3>
                    <p>
                        Tell some of your friends about roomix and add them as your friends!
                    </p>
                </div>
            </div>

            <div class="divider"></div>

            <div class="gridHalfWidth">
                <div class="textBox">
                    <h3>Enjoy your Music together!</h3>
                    <p>
                        Invite friends to your own rooms and enjoy your favourite music together!
                    </p>
                </div>
            </div>
            <div class="gridHalfWidth">
                <img src="assets/landing-page/enjoy-music.png" alt="create-rooms">
            </div>

            <div class="divider"></div>

            <div class="gridHalfWidth">
                <img src="assets/landing-page/chat.png" alt="create-rooms">
            </div>
            <div class="gridHalfWidth">
                <div class="textBox">
                    <h3>Chat with your Friends!</h3>
                    <p>
                        Chat with your friends and people who have the same taste in music as you!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footerContent gridBox centerX">
            <div class="gridOneCol">
                <img src="assets/logo/logo-light.svg" alt="logo" class="logo">
            </div>

            <div class="gridTwoCol">
                <p>
                    Test eText asdl asldfknlea flas elsa fklasekf <br>
                    asldfkja asdflk saldf asld <br>
                    lajsfld  alsdkfj laesj flsj fl awjelf
                </p>
            </div>

            <div class="gridTwoCol">
                <a href="https://github.com/simonittensammer/roomix">
                    View on GitHub
                </a>
            </div>

            <div class="gridOneCol">
                <a routerLink="/login">
                    <button>
                        <ion-icon name="rocket"></ion-icon>
                        Get Started
                    </button>
                </a>
            </div>
        </div>
    </footer>
</div>
