#controlBar {
  width: 85vw;
  height: 10vh;
  position: absolute;
  left: 15vw;
  bottom: 0;
  z-index: 800;

  background: var(--ion-color-primary);
}

#roomImage {
  width: 10vw;
  position: absolute;
  bottom: 15px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 var(--ion-color-dark-contrast);
}

#roomName {
  position: absolute;
  left: 13vw;
  top: 0;
  width: 10vw;
  overflow: hidden;
  white-space: nowrap;
}

#roomInfo {
  position: absolute;
  left: 13vw;
  top: 50px;

  width: 10vw;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.1em;
}

ion-icon {
  margin-bottom: -5px;
  font-size: 1.25em;
}

#currentSongName {
  position: absolute;
  left: 25vw;
  bottom: 5.5vh;
  width: 50%;
  font-size: 1.1em;

  white-space: nowrap;
  overflow: hidden;
}

#songProgressBar {
  position: absolute;
  left: 25vw;
  bottom: 3.5vh;
  height: 1vh;
  width: 50%;
  border-radius: .5vh;
  z-index: 900;

  background: var(--ion-color-dark);
}

#songProgress {
  //width: 0;
  height: 100%;
  border-radius: .5vh;
  background: var(--ion-card-background);

  width: 0;
  transition-property: width;
  transition-timing-function: linear;
}

#volumeRangeBox {
  position: absolute;
  right: 50px;
  bottom: 15px;

  padding: 2.5px;
  border-radius: 20px;
  background: var(--ion-card-background);

  box-shadow: 0 0 10px 0 var(--ion-color-dark-contrast);
}

#volumeRange[type=range][orient=vertical] {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;

  height: 15vh;
  width: 45px;
  outline: none;
  background: transparent;
}

input[type=range]:focus {
  outline: none;
}

#volumeRange::-moz-range-thumb, #volumeRange::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background: var(--ion-color-primary);
  cursor: pointer;
}

#volumeRange::-moz-range-track {
  background: var(--ion-color-dark);
  width: 5px;
  border-radius: 2.5px;
}

#volumeRange::-ms-fill-lower {
  background-color: var(--ion-color-primary);
  border-radius: 2.5px;
}

.volumeIcon {
  font-size: 2em;

  position: relative;
  left: 50%;
  transform: translate(-50%, -25%);
}

#skipSong {
  position: absolute;
  right: 200px;
  bottom: 15px;
}

#skipVoteAmount {
  display: inline;
}
