<div id="player"></div>

<div id="controlBar" *ngIf="playSongService.connected">
    <div id="roomInfoWrapper">
        <img [src]="accountService.sanitizeBase64(room.picUrl)" id="roomImage"
             alt="roomPic">
        <h3 id="roomName">{{ room.name }}</h3>
        <p id="roomInfo">
            Members: {{ room.memberList.length }}
        </p>
    </div>

    <p id="currentSongName">
        <ion-icon name="musical-notes"></ion-icon>
        {{ playSongService.currentSong.title }}
    </p>
    <div id="songProgressBar">
        <div id="songProgress"></div>
    </div>

    <div id="skipSong">
        <button *ngIf="!skip; else unskip" (click)="skipSong()">Skip</button>
        <ng-template #unskip>
            <button (click)="skipSong()">Unskip</button>
        </ng-template>
        <div *ngIf="skips !== null && skips.currentAmount > 0">{{skips.currentAmount}}/{{skips.amountNeeded}}</div>
    </div>

    <div id="volumeRangeBox">
        <input type="range" orient="vertical" #volumeRange id="volumeRange" name="volumeRange" min="0" max="100" value="100"
        (input)="adjustVolume(volumeRange.value)">

        <br>

        <ion-icon class="volumeIcon" name="volume-mute-outline" *ngIf="volumeStage == 'x'"></ion-icon>
        <ion-icon class="volumeIcon" name="volume-low-outline" *ngIf="volumeStage == 'l'"></ion-icon>
        <ion-icon class="volumeIcon" name="volume-medium-outline" *ngIf="volumeStage == 'm'"></ion-icon>
        <ion-icon class="volumeIcon" name="volume-high-outline" *ngIf="volumeStage == 'h'"></ion-icon>
    </div>

    <!--<iframe *ngIf="this.playSongService.currentSong != null" width="0" height="0"
            [src]="this.playSongService.completeUrl" frameborder="0"
            allowfullscreen></iframe>-->


</div>
