<div class="content half-content-wrapper">
    <div class="half-content">

        <a class="buttonLink buttonRight"
           (click)="playSongService.connect(user.username, room.id)"
           *ngIf="!playSongService.connected || playSongService.connected && playSongService.room.id !== room.id; else leaveRoom">
            <button>Join</button>
        </a>

        <ng-template #leaveRoom>
            <a class="buttonLink buttonRight"
               (click)="playSongService.disconnect()">
                <button>Leave</button>
            </a>
        </ng-template>

        <h2 *ngIf="room != null">{{ room.name }}</h2>

        <h3 class="ulHeadline" (click)="collapseList()">Members</h3>
        <a class="buttonLink buttonRight" (click)="roomService.showInviteFriend()">
            <button [disabled]="!(playSongService.connected && room.name === listeningRoom.name)">Invite Friends</button>
        </a>
        <ul *ngIf="!collapsed">
            <li class="listEntry" *ngFor="let member of room.memberList">
                <img [src]="accountService.sanitizeBase64(member.user.picUrl)" alt="" class="listImage">

                <div class="listTextContainer">
                    <p class="listHeadline">[{{ member.role | uppercase }}] {{ member.user.displayname }}</p>
                    <p class="listText">@{{ member.user.username }}</p>
                </div>
            </li>
        </ul>
        <ul *ngIf="collapsed">
            <li class="listEntry" (click)="collapseList()">
                <img src="" alt="" class="listImage"> <!-- add info icon -->
                <div class="listTextContainer">
                    <p class="listHeadline">Show Memberlist</p>
                    <p class="listText">Click here or on the headline, to show the list!</p>
                </div>
            </li>
        </ul>

        <app-playlist></app-playlist>
    </div>

    <div class="half-content">
        <h2>Chat</h2>
    </div>
</div>

<app-invite-friend *ngIf="roomService.inviteFriendVisible"></app-invite-friend>
