// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;

  --ion-color-primary: #9f14c1;
  --ion-color-primary-hover: #8f12ae;
  --ion-color-primary-active: #7f109a;

  --ion-color-success: #2fdf75;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-card-background: #1c1c1d;
  --ion-card-hover: #282829;
  --ion-card-active: #333333;
}
