<div>
  <form [formGroup]="newRoomForm" class="popup centerXY">
    <h2 class="formHeadline formElement">Create a new room</h2>

    <label for="img">Picture:</label>
    <input class="formElement" formControlName="picUrl" type="file" id="img" name="img" accept="image/*" (change)="handleFileSelect($event)">

    <label for="name">Name</label>
    <input type="text" id="name" class="formElement" formControlName="name" placeholder="Name">
    <p class="errorMsg" *ngIf="newRoomForm.controls['name'].hasError('required') && newRoomForm.controls['name'].dirty">
      Name is required
    </p>

    <label>Roomtype</label>
    <input type="checkbox" formControlName="isPrivate">
    <label>Private</label>


    <button type="submit" id="formSubmit" class="formElement" (click)="onSubmit()">Create</button>

    <div class="formElement">
      <a (click)="roomlistService.showCreateRoom()">Cancel</a>
    </div>
  </form>
</div>

