<div>
  <form [formGroup]="newRoomForm" class="popup centerXY">
    <h2 class="formHeadline formElement">Create a new room</h2>

    <img *ngIf="base64textString == ''" class="formElement formImage" src="./assets/previews/space-room.jpg" alt="">
    <img *ngIf="base64textString != ''" class="formElement formImage" [src]="accountService.sanitizeBase64(base64textString)" alt="">
    <label for="img">Room Picture</label> <br>
    <input #file class="formElement inputFile" formControlName="picUrl" type="file" id="img" name="img" accept="image/*" (change)="handleFileSelect($event)">
    <button class="formElement formButton" (click)="file.click()">Upload</button>
    <br><br>

    <label for="name">Name</label>
    <input type="text" id="name" class="formElement" formControlName="name" placeholder="Name">
    <p class="errorMsg" *ngIf="newRoomForm.controls['name'].hasError('required') && newRoomForm.controls['name'].dirty">
      Name is required
    </p>

    <label>Tags</label>
    <app-tag-selector [input-tags]="[]" (childToParent)="childToParent($event)"></app-tag-selector>
    <br>

    <label>Room is private</label>
    <mat-slide-toggle formControlName="isPrivate"></mat-slide-toggle>

    <button type="submit" id="formSubmit" class="formElement" (click)="onSubmit()">Create</button>

    <div class="formElement">
      <a (click)="roomlistService.showCreateRoom()">Cancel</a>
    </div>
  </form>
</div>

