<div class="content">
  <h2>Browse rooms</h2>

  <ul>
    <li class="listEntry" *ngFor="let invite of user.roomInviteList">
      <img src="{{ invite.room.picUrl }}" alt="" class="listImage">

      <div class="listTextContainer">
        <p class="listHeadline">{{ invite.room.name }}</p>
        <p class="listText">From: {{ invite.sender.displayname }}</p>
      </div>


      <div class="listButtonContainer">
        <a class="buttonLink" (click)="response(invite, true)">
          <button>Accept</button>
        </a>

        <a class="buttonLink" (click)="response(invite, false)">
          <button>Decline</button>
        </a>
      </div>
    </li>
  </ul>

  <input type="number" [(ngModel)]="limit" (change)="updatePublicRoomLimit()" >

  <div class="cardContainer">
    <div class="card" *ngFor="let room of publicRooms">
      <img class="cardImage" src="https://lastfm.freetls.fastly.net/i/u/770x0/15ee8d4b8473b5cc6862f8c7a48ddc60.jpg"
           alt="cover">
      <p class="cardHeadline">{{ room.name }}</p>
      <p class="cardText">Members: {{ room.memberList.length }}</p>
    </div>
  </div>

</div>
